.row {
    font-family: 'Raleway', sans-serif;
}

.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  
  .intro-carta {
    color: white;
  }

  .embed-map {
    height: 100%;
    width: 100%;
  }