#logo {
    background-color: white;
}

.navegador {
    font-size: 25px;
    font-family: 'Freehand Script', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.midd-top-left {
    font-family: 'Raleway', sans-serif;
    background-color: #efece2;
    font-size: 18px;
}

.midd-top-right {
    background-color: #efece2;
}

.firma {
    display: flex;
    justify-content: flex-end;
}

.midd-bot-right {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: white;
}

.paella {
    width: 110%;
}

.postre {
    width: 100%;;
}

