@font-face {
    font-family: "Freehand";
    src: url(../fonts/Freehand\ Regular.woff);
}

.principal {
    background-image: url(../img/background.png);
    background-size: 100%;
}

.barra {
    opacity: 0.6;
}

.navegador {
    font-size: 30px;
    font-family: "Freehand";
    text-decoration: bold;
    color: black;
}

.txt {
    opacity: 1;
}

.texto-central {
    color: rgb(19, 17, 17);
    font-family: "Freehand";
    font-size: 35px;
}